<mat-toolbar
  class="toolbar"
  *ngIf="this.router.url != '/login' && this.router.url != '/signup'"
>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span class="example-spacer"></span>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-flat-button class="header-btn">
    <mat-icon>login</mat-icon> SIGN IN
  </button>
</mat-toolbar>
<div id="mySidenav" [ngClass]="status ? 'openNav' : 'closeNav'" class="sidenav">
  <a (click)="toggleMenu()" class="closebtn"
    ><mat-icon>arrow_back</mat-icon>
  </a>

  <a routerLink="/create" (click)="toggleMenu()"
    ><mat-icon class="icon-adjust">add_circle_outline</mat-icon>Create</a
  >

  <a routerLink="/" (click)="toggleMenu()"
    ><mat-icon class="icon-adjust">post_add</mat-icon>Posts</a
  >

  <a routerLink="/signup" (click)="toggleMenu()"
    ><mat-icon class="icon-adjust">app_registration</mat-icon>Sign up</a
  >

  <a routerLink="/login" (click)="toggleMenu()"
    ><mat-icon class="icon-adjust">login</mat-icon>Sign in</a
  >
</div>
