<mat-toolbar class="toolbar">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span class="example-spacer"></span>
  <span>My App</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div id="mySidenav" [ngClass]="status ? 'openNav' : 'closeNav'" class="sidenav">
  <mat-icon><a (click)="toggleMenu()" class="closebtn">arrow_back</a></mat-icon>
  <a routerLink="/create" (click)="toggleMenu()">Create</a>
  <mat-divider></mat-divider>
  <a routerLink="/" (click)="toggleMenu()">Posts</a>
  <mat-divider></mat-divider>
  <a routerLink="/login" (click)="toggleMenu()">Sign up</a>
  <mat-divider></mat-divider>
  <a routerLink="/login" (click)="toggleMenu()">Sign in</a>
  <mat-divider></mat-divider>
</div>
