<mat-toolbar
  class="toolbar"
  *ngIf="this.router.url != '/auth/login' && this.router.url != '/auth/signup'"
>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleMenu()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <span class="example-spacer"></span>
  <span>
    <img
      src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/materialui/materialui-original.svg"
      alt="as"
      class="header-logo"
    />
  </span>
  <span class="example-spacer"></span>
  <a class="sign-in-icon" routerLink="auth/login">
    <button *ngIf="!userIsAuthenticated" mat-flat-button class="header-btn">
      <mat-icon>login</mat-icon> SIGN IN
    </button></a
  >
  <a class="sign-in-icon" routerLink="/">
    <button
      *ngIf="this.userIsAuthenticated"
      mat-flat-button
      (click)="onLogout()"
      class="header-btn"
    >
      <mat-icon>logout</mat-icon> LOG OUT
    </button></a
  >
</mat-toolbar>
<div id="mySidenav" [ngClass]="status ? 'openNav' : 'closeNav'" class="sidenav">
  <a (click)="toggleMenu()" class="closebtn"
    ><mat-icon>arrow_back</mat-icon>
  </a>

  <a *ngIf="userIsAuthenticated" routerLink="/create" (click)="toggleMenu()"
    ><mat-icon class="icon-adjust side-align">add_circle_outline</mat-icon
    >Create</a
  >

  <a routerLink="/" (click)="toggleMenu()"
    ><mat-icon class="icon-adjust side-align">post_add</mat-icon>Posts</a
  >

  <a
    *ngIf="!userIsAuthenticated"
    routerLink="auth/signup"
    (click)="toggleMenu()"
    ><mat-icon class="icon-adjust side-align">app_registration</mat-icon>Sign
    up</a
  >

  <a *ngIf="!userIsAuthenticated" routerLink="auth/login" (click)="toggleMenu()"
    ><mat-icon class="icon-adjust side-align">login</mat-icon>Sign in</a
  >
</div>
