mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: 0 auto;
}

mat-card {
  width: 60%;
  margin: 0 auto;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 0px;
  max-width: 570px;
  padding: 30px;
}

.title-login {
  margin: auto;
}

.form-container {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: auto;
  display: flex;
}

.first-column,
.second-column {
  flex: 1 1;
}

@mixin alignHorizontal() {
  padding-top: 83px;
}

.first-column {
  background-image: url(https://images.unsplash.com/photo-1558655146-6c222b05fce4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80);
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  flex-grow: 1;
}
.content-col-1 {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  z-index: -1;
  flex-grow: 0;
}

.content-col-2 {
  width: 100%;
  @include alignHorizontal();
  margin: 0 auto;
}

.forgot-pass {
  text-align: right;
  padding-bottom: 13px !important;
}
.forgot-pass a {
  text-decoration: none;
  color: rgb(65, 65, 216);
}
.form-title {
  margin: 0 auto;
  width: 61%;
  max-width: 570px;
}

.logo-brand {
  text-align: center;
}

.logo-brand img {
  margin: 0 auto !important;

  width: 50px;
}

@media only screen and (max-width: 875px) {
  .first-column {
    display: none;
  }
  .content-col-2 {
    padding: 0px 0;
  }
}

@media only screen and (max-width: 900px) {
  .content-col-2 {
    padding: 0px 0;
  }
}
