<div class="form-container">
  <div class="second-column">
    <div class="content-col-2">
      <div class="form-title">
        <h2>Register now</h2>
      </div>

      <mat-card *ngIf="!isLoading">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
        <div class="logo-brand">
          <img
            src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/materialui/materialui-original.svg"
            alt=""
          />
        </div>
        <form (submit)="onSignup(signupForm)" #signupForm="ngForm">
          <mat-form-field>
            <input
              matInput
              type="email"
              name="email"
              ngModel
              placeholder="E-mail"
              #emailInput="ngModel"
              required
              email
            />
            <mat-error *ngIf="emailInput.invalid"
              >Please enter a valid e-mail</mat-error
            >
          </mat-form-field>

          <mat-form-field>
            <input
              type="password"
              name="password"
              ngModel
              #passwordInput="ngModel"
              matInput
              placeholder="Password"
              required
            />
            <mat-error *ngIf="passwordInput"
              >Please enter a valid password</mat-error
            >
          </mat-form-field>

          <div class="forgot-pass">
            <a routerLink="/login">Already registered? Click here</a>
          </div>
          <button
            mat-flat-button
            color="warn"
            type="submit"
            class="form-button"
            *ngIf="!isLoading"
          >
            Sign Up
          </button>
          <mat-spinner *ngIf="isLoading"></mat-spinner>
        </form>
      </mat-card>
    </div>
  </div>

  <div class="first-column">
    <div class="content-col-1">
      <img
        src="https://i.pinimg.com/originals/a2/70/d2/a270d270d5ca184422cf980475b99e24.gif"
        alt="Website"
      />
      <div class="title">
        <h2>Manage your Posts</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta libero
          reiciendis earum blanditiis sapiente maiores tenetur id, nemo
          adipisci.
        </p>
      </div>
    </div>
  </div>
</div>
