<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        name="title"
        ngModel
        placeholder="Post title"
        required="required"
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a post title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        class="form-field"
        matInput
        name="content"
        id=""
        cols="30"
        rows="10"
        ngModel
        name="content"
        placeholder="Post content"
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter a post title</mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      type="submit"
      class="submit-button"
    >
      Add Post
    </button>
  </form>
</mat-card>
