mat-form-field {
  width: 100%;
}
@mixin card-space($pixel) {
  margin-top: $pixel;
}
.output-data-card {
  @include card-space(20px);
}
mat-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px !important;
}

.submit-button {
  margin-top: 10px;
}

mat-spinner {
  margin: 0 auto !important;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}
